/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */
body{
  margin: 0;
  color: #599;
  padding: 0.3em;
  /*background-image: url(http://subtlepatterns.com/patterns/type.png); background-position: initial initial; background-repeat: initial initial;*/
}

.headImage {
  /*background-image: url("HomeImage.jpg");*/
  background-color: #1fa67a;
  box-shadow: 0px 0px 5px black;
  width: 100%;
  position: relative;
  height: 100px;
}

.subtitle{
  margin: 10px;
  font-size: medium;
  margin: 14px 5px 0px 94px;
}
.container {
  position: relative;
  margin-bottom: 15px;
}

.navbar-default .navbar-brand {
  font-family: Noticia Text;
  color: whitesmoke;
  font-size: xx-large;
  box-shadow: 60px 51px 100px black;
  width: 100%;
  border-radius: 16%;
}

.navbar-nav {
  font-family: Noticia Text;
  float: right;
  color: whitesmoke;
}

.navbar-default .navbar-nav > li > a {
  color: whitesmoke;
  font-family: Enriqueta;
}
.navbar-default {
  border-color: transparent;
}

footer {
  width: 1016px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  box-shadow: 0px 0px 1px black;

}

.left {
  float: left;
}

.right {
  float: right;
}

.footerContact{
  padding: 10px;
}

.sociallinks{
  padding: 10px;
  width: 50px;
}

.left{
  float: left;
}

.right{
  float: right;
}
