// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.leftClass{
  float: left
}

.content-left {
  float: left;
  margin-right: 10%;
  border-radius: 50%;
  box-shadow: 0px 0px 15px black;
}

.MyImage img{
  border-radius: 50%;
  box-shadow: 0px 0px 15px black;
}
