// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.leftClass{
  float: left
}

.content-left {
  float: left;
  margin-right: 2%;
  border-radius: 50%;
  box-shadow: 0px 0px 10px black;
}

.MyImage img{
  border-radius: 50%;
  box-shadow: 0px 0px 0px black;
}

.proficon{
  text-align: center;
  padding-top: 4%;
  color: whitesmoke;
  border-radius: 50%;
  background-color: #F86;
  width: 100px;
  height: 100px;
  margin-right: 10%;
  box-shadow: 0px 0px 0px black;
}

.middleicon{
  background-color: #068;
}


.lasticon{
  background-color: #7A898C;
}
